html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0px;
	overflow: hidden;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button {
	outline: none;
	border: 1px solid;
}

.flex-row-container{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.scroll {
	width: 100%;
	height: 90vh;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: 0;
}

.scroll::-webkit-scrollbar {
	display: none;
}

.vl {
	border-left: 2px solid;
	height: 100%;
	margin-right: 3px;
	margin-left: 3px;
}

.rounded-button {
	border: 1px solid gray;
	border-radius: 15px;
	padding: 2px 5px;
	font-size: 0.5em;
	text-align: center;
	cursor: pointer;
}
.rounded-button:hover {
	background-color: rgba(240, 240, 240, 1);
}
